body
{
margin: 0;
padding: 0;
}
#container
{
width: 750px;
margin-left: auto;
margin-right: auto;
border:1px solid black;
}
#header
{
height: 150px;
background: #DA70D6;
}
#left
{
width: 170px;
float: left;
background: #D8BFD8;
}
#right
{
width: 580px;
float: left;
background: #DDA0DD;
}
#footer
{
clear: both;
background: #FFB6C1;
}