body {
background: rgb(221,160,221)
}
div{
text-algin: center;
font-family: Verdana;
font-color: black;
}
span{
color: #4B9DDC;
}
P.normalny
{
font-family: Helvetica; font-size: 10pt
}
P.przypisy
{
font-family: Helvetica; font-size: 8pt
}
P.uwagi
{
font-family: Helvetica; font-size: 10pt; font-weight: bold
}
.wazne
{ 
color:purple;
}
#ala
{
	font-size:20pt;
	color:blue;
	text-align:justify;
}